{
  "branches": [
    "main",
    { "name": "develop", "prerelease": "develop" },
    {
      "name": "hotfix/*",
      "prerelease": false
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "parserOpts": {
          "mergePattern": "^Merge pull request #\\d+ from .*$",
          "mergeCorrespondence": ["id", "source"]
        },
        "releaseRules": [
          { "type": "feat", "branch": "main", "release": false },
          { "type": "feat", "branch": "develop", "release": "minor" },
          { "type": "feat", "branch": "hotfix/*", "release": false },

          { "type": "fix", "branch": "hotfix/*", "release": "patch" },
          { "type": "fix", "release": "patch" },

          { "type": "docs", "release": false },
          { "type": "chore", "release": false }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/git"
  ]
}
